{% load admin_static %}
{% block blockbots %}

  {{ block.super }}
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}" />
{% endblock %}
{% load staticfiles %}
<html>
    <head>
        <title>4Logic</title>
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap-theme.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}">
        <script src="{% static 'bootstrap-3.3.7/js/bootstrap.js' %}"></script>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="{% static 'js/script.js' %}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    </head>
    <body data-spy="scroll" data-target=".bs-docs-sidebar">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <div class="page-header">
        <h1><a href="/">Nome da Empresa</a></h1>
      </div>

        <div class="row">
          <br><br>
        </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- Menu begin -->
          <div class="col">
          <nav class="navbar navbar-default sidebar" role="navigation">
             <div class="container-fluid">
             <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
               </button>
             </div>
             <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
               <ul class="nav navbar-nav">
                 <li class="active"><a href="#">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                 <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Empresarial<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a>
                   <ul class="dropdown-menu forAnimate" role="menu">
                     <li><a href="/empresarial/new/">Cadastrar</a></li>
                     <li><a href="#">Consultar</a></li>
                     <li class="divider"></li>
                     <li><a href="#">Separated link</a></li>
                     <li class="divider"></li>
                     <li><a href="#">Informes</a></li>
                   </ul>
                 </li>
                 <li ><a href="#">Libros<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
                 <li ><a href="#">Tags<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
               </ul>
             </div>
           </div>
         </nav>
      </div>
          <!-- Menu end -->
          <div class="col-md-offset-2 col-md-6">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>

        <!--
        <ul>
          <li><p href="https://arxiv.org/"><i class="icon-chevron-right"></i> arXive</p></li>
          <li><a href="https://doi.org/"><i class="icon-chevron-right"></i> doi</a></li>
          <li><a href="http://lattes.cnpq.br/"><i class="icon-chevron-right"></i> Lattes</a></li>
        </ul>
      -->

    </body>
</html>
