{% extends 'copar/base.html' %}

{% block content %}
<div class"panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <h1><a href="/">Cadastrados</a></h1>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Protocolo</th>
              <th scope="col">Cliente</th>
              <th scope="col">Inclusão</th>
            </tr>
          </thead>
          <tbody>
            {% for quest in quests %}
            <tr>
              <th scope="row"><a href="#">{{quest.id}}</a></th>
              <td>{{ quest.cliente }}</td>
              <td> {{ quest.insert_date|date:"d/m/Y" }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
