{% extends 'copar/base.html' %}

{% block content %}



    <form method="POST" class="post-form">
    {% csrf_token %}
    <h1><a href="/">Questionário de Risco</a></h1>
    {% for field in form %}
    <div class="form-group">

      <div class="row">
        <div class="col-md-10">
          {{field.label}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          {{field}}
        </div>
      </div>
    </div>
    {% endfor %}

    <input type='submit' value='Registrar' />
   </form>



{% endblock %}
